<div class="col-md-12">
  <% if current_user %>
  <div class="group">
     <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%> <!--编辑实例变量@group的路径 -->
  </div>
  <% end %>
  <!-- @group的含义：在controller的show中，我们从数据库中根据group的ID找到了group的所有信息，把它传给了实力变量@group。 -->
  <h2><%= @group.title %></h2>   <!-- 引用实例变量@group的title栏位 -->
  <%= "#{@group.impressionist_count} 次" %>
  <p><%= raw @group.description %></p>


  <table class="table">
      <thead>
        <tr>
          <th>评论内容</th>
          <th>发表时间</th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.content %></td>
            <td><%= comment.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render "comments/form" %>
</div>
